@import './variables.scss';

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: var(--text-color--secondary);
    font: var(--font-s);
}

.cardSpin {
    max-width: var(--card-spin--max-width);
    width: 100%;
    border-radius: var(--card-spin--border-radius);
    background-color: var(--card-spin--bg-color);
    padding: var(--card-spin--padding);
    display: flex;
    gap: calc(var(--global-step-horizontal) * 1.5);
}

.wrapFilters {
    display: flex;
    flex-direction: column;
    gap: 1.5rem
}