$column1-width: 60px;

.rowsFilter {
    display: flex;
    flex-direction: column;
    gap: 16px;

    >div {
        display: grid;
        grid-template-columns: $column1-width calc(100% - $column1-width - var(--global-step-horizontal));
        width: 100%;
        gap: var(--global-step-horizontal);
        align-items: center;

        &>label {
            text-transform: uppercase;
        }

        .wrapCheckboxes {
            display: flex;
            justify-content: space-evenly;
            gap: 8px;
        }
    }
}