$bg-color: #03DE84;

$dark--bg-color: #30383B;
$dark--text-color: #ffffffce;

.button {
    width: 100%;
    background-color: #03DE84;
    text-transform: uppercase;
    font-weight: 900;
    border-color: transparent;
    border-radius: 50px;
    padding: 6px 12px;
    transition: var(--globalt-transition-time);
    cursor: pointer;
    position: relative;

    &:hover {
        background-color: darken($bg-color, 5%);
    }

    &:active {
        background-color: darken($bg-color, 15%);
    }

    &:disabled {
        cursor: not-allowed;
        background-color: darken($bg-color, 15%);
    }

    // Dark style
    &.dark {
        background-color: $dark--bg-color;
        color: $dark--text-color;
        // font-weight: 700;
        text-transform: capitalize;
    }

    &.dark:hover {
        background-color: darken($dark--bg-color, 5%);
    }

    &.dark:active {
        background-color: darken($dark--bg-color, 15%);
    }

    &.dark:disabled {
        cursor: not-allowed;
        background-color: darken($dark--bg-color, 15%);
    }

    // Size style
    &.micro {
        width: unset;
        padding: 0px 6px;
        font-size: 1em;
        line-height: 1em;
        font-weight: normal;
    }
}

.labelPrefix {
    display: inline-block;
    height: 9px;
    width: 12px;
    background: #6537d700 url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+DQo8c3ZnIHdpZHRoPSIxMiIgaGVpZ2h0PSI5IiB2aWV3Qm94PSIwIDAgMTIgOSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCiAgPHBhdGggZD0iTTQuNTc1IDguOTc3cy0uNDA0LS4wMDctLjUzNi0uMTY1TC4wNTcgNS42NGwuODI5LTEuMjI3TDQuNDcgNy4yNjggMTAuOTIxLjA4NmwuOTIzIDEuMTAzLTYuODYzIDcuNjRjLS4xMzQtLjAwMy0uNDA2LjE0OC0uNDA2LjE0OHoiIGZpbGw9IiNGRkYiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPg0KPC9zdmc+) 50% 40% no-repeat;
    margin-right: 8px;
}